*{
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    display: flex;
    align-items: center;
    justify-content: center;

    .hero{
        max-width: 600px;
        max-height: 600px;
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 30px;

        .header{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            h1{
                color: #fff;
                font-weight: 700;
                margin: 20px;
            }
            .box{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                #weatherInfo{
                    margin-top: 10px;
                    color: white;
                }
            }
            .search{
                width: 300px;
                padding: 5px;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                // input [placeholder]{
                //     color: #fff;
                // }
                
                input{
                    border: none;
                    outline: none;
                    background: none;
                    color: #fff;
                    margin-left: 5px;
                    width: 100%;
                    ::placeholder{
                        color: white;
                    }
                }
                button{
                    border: none;
                    outline: none;
                    background: none;
                    img{
                        width: 30px;
                    }
                }
                

            }
        .contante{
            width: 80%;
            margin-top: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;

            .wead{
                width: 80px;
                height: 100px;
                border-top-right-radius: 25px;
                border-bottom-left-radius: 25px;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                background-color: rgba(0, 0, 0, 0.1);
                color: #fff;
                display: flex;
                align-self: center;
                justify-content: center;
                flex-direction: column;
                padding: 10px;
                gap: 13px;
                img{
                    width: 20px;
                }
                .rain{
                    color: #fff;
                }

            }
        }
        }
    }

}
@media(max-width: 424px){
    main{
        .hero{
            .header{
                h1{
                    font-size: 25px;
                }
            }
        }
    }
} 
    
